
// Variables
$light-color: hsl(216, 19%, 18%);
$medium-color: #ccc;

// Home Sections
#home {
  // Home Section B
  &-b {
    .stats {
      display: grid;
      grid-template-columns: repeat(3, 1fr);

      li {
        line-height: 2;

        &.stats-title {
          font-size: 1.5rem;
        }

        &.stats-number {
          font-size: 2rem;
          font-weight: bold;
        }

        img {
          width: 70px; // Adjust the size as needed
          height: 70px; // Adjust the size as needed
        }
      }

      div {
        padding: 3rem 0;

        &:nth-child(odd) {
          background: $light-color;
        }

        &:nth-child(even) {
          background: $medium-color;
        }
      }
    }
  }
}


@media (max-width: 500px) {
  // Stack Grid Columns
#home-b .stats {
    grid-template-columns: 1fr;
  }

  #home-b  {
    .stats div {
      padding: 2rem 0 1rem 0;
    }
  }
}

