// About C
#about {

    
    &-c {
      .about-logos {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 2rem;
  
        img {
          width: 70%;
        }
      }
    }
}


@media (max-width: 500px) {
  // About
  #about {
  
   &-c {
     display: none;
   }
 }
 }


